.additional-products__wrapper {
  width: 320px;
  margin: 0 auto 35px auto;

  @media (min-width: $tablet-width) {
    width: 707px;
    margin: 0 auto 75px auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;

    width: 1220px;
    margin: 0 auto 87px auto;
  }
}

.additional-products__title {
  width: 226px;
  margin: 0 74px 36px 20px;

  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    width: 339px;
    margin: 0 auto 80px auto;

    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 80px auto;
  }
}

.additional-products__item {
  padding-top: 13px;
  padding-bottom: 19px;

  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    width: 632px;
    padding: 26px 38px 28px 38px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;

    width: 895px;
    padding: 15px 0 17px 0;
  }
}

.additional-products__list {
  @include reset-list;

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 895px;
    margin-right: 81px;
  }
}

.additional-products__title-products {
  margin-top: 13px;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;

  text-transform: uppercase;

  color: #222222;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 20px;
  }
}

.additional-products__info {
  margin-bottom: 12px;
  margin-left: auto;

  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-products__button {
  display: block;

  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 400;
  line-height: 20px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #68b738;

  @media (min-width: $desktop-width) {
    width: 62px;
    margin-left: auto;
    padding: 10px 91px;
  }
}

.additional-products__description {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;

  color: #ffffff;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../img/cat-case.jpg");
  background-repeat: no-repeat;

  &::before {
    content: "";

    display: block;
    flex-shrink: 0;

    width: 78px;
    height: 80px;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-case@2x.jpg");
    background-size: 560px auto;
  }

  @media (min-width: $tablet-width) {
    padding: 57px 0 60px 77px;

    background-image: url("../img/cat-case-tablet.jpg");
    background-repeat: no-repeat;

    &::before {
      width: 80px;
      height: 83px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-case-tablet@2x.jpg");
      background-size: 1414px auto;
    }
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 245px;
    margin-right: 0;
    padding: 56px 42px 43px 42px;

    background-image: url("../img/cat-case-desktop.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-case-desktop@2x.jpg");
      background-size: 490px auto;
    }
  }
}
