.additionally__title {
  width: max-content;
  margin: 23px 0 42px -20px;
  padding: 0 20px 0 20px;

  font-weight: 400;

  background-color: #ffffff;

  @include form-title;

  @media (min-width: $tablet-width) {
    margin: 89px 0 62px -40px;
    padding: 0 41px 0 39px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 95px 0 62px -40px;
    padding: 0 41px 0 40px;
  }
}

.additionally__filter-list {
  margin: 0;
  margin-left: 46px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;

    margin-left: 40px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 108px;
    row-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 211px 210px 210px 196px;
    grid-template-rows: 1fr;
    column-gap: 115px;
  }
}

.additionally__control {
  position: relative;
}

.additionally__filter-item {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &:nth-child(2) .additionally__control-label {
    @media (min-width: $tablet-width) {
      margin-left: 17px;
    }
  }

  &:nth-child(4) .additionally__control-label {
    @media (min-width: $tablet-width) {
      margin-left: 17px;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}

.additionally__control-label {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  color: #444444;

  @media (min-width: $tablet-width) {
    margin-left: 20px;

    font-size: 20px;
    line-height: 30px;
  }

  &::before {
    content: "";

    position: absolute;
    top: -20%;
    left: -47px;

    width: 30px;
    height: 30px;

    border: 1px solid rgb(205, 205, 205);
    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      top: -39%;
      left: -41px;

      width: 38px;
      height: 40px;
    }

    @media (min-width: $desktop-width) {
      top: -46%;
      left: -40px;

      width: 38px;
      height: 39px;
    }
  }
}


.additionally__input[type="checkbox"]:checked + .additionally__control-label::before {
  background-image: url("../img/mark-phone.svg");
  background-repeat: no-repeat;
  background-position: top 8px left 6px;
  background-size: 19px 15px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/mark.svg");
    background-position: top 12px left 7px;
    background-size: 24px 19px;
  }

  @media (min-width: $desktop-width) {
    background-position: top 11px left 7px;
  }
}
