.advantages__wrapper {
  margin: 0 20px 49px 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 45px auto 45px auto;
    padding-bottom: 47px;

    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 71px auto 69px auto;

    border: none;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;

  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;

    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    line-height: 60px;
  }
}

.advantages__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: repeat(2, 245px);
    gap: 37px 137px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.advantages__item {
  display: flex;

  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;

  color: #444444;

  gap: 20px;

  &::before {
    content: "";

    display: block;
    flex-shrink: 0;

    width: 60px;
    height: 60px;

    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--useful::before {
    background-image: url("../img/icon-leaf.svg");
  }

  &--modern::before {
    background-image: url("../img/icon-powder.svg");
  }

  &--functional::before {
    background-image: url("../img/icon-eat.svg");
  }

  &--result::before {
    background-image: url("../img/icon-time.svg");
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.advantages__description {
  width: 200px;
  margin-bottom: 26px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 31px;
  }
}
