.catalog__wrapper {
  width: 320px;
  margin: 27px auto 25px auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 67px auto 70px auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 74px auto 76px auto;
  }
}

.catalog__title {
  margin: 0 42px 41px 0;
  padding-top: 27px;

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    border: none;
  }
}

.catalog__product-list {
  margin: 0 auto;
  margin-top: 41px;

  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;

    margin-top: 84px;

    grid-template-columns: repeat(2, 324px);
    gap: 60px 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;

    margin-top: 84px;

    grid-template-columns: repeat(4, 245px);
    gap: 80px 63px;
  }
}

.catalog__container {
  flex-grow: 1;

  margin-left: auto;
}

.catalog__product-item {
  display: flex;
  flex-wrap: wrap;

  padding: 20px 20px 25px 20px;

  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    border: none;
    background-color: #f2f2f2;

    &:last-child {
      background-color: #ffffff;
    }
  }
}

.catalog__title-product {
  width: 76px;
  margin-bottom: 14px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  text-transform: uppercase;

  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog__info {
  width: 140px;
  margin-right: auto;

  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog__button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;

  @include button;

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus {
    opacity: 0.7;
  }
}
