.contacts {
  @media (min-width: $tablet-width) {
    padding: 0 66px 0 71px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding: 0;
  }
}

.contacts__title {
  position: relative;

  width: 187px;
  margin: 26px 0 34px -20px;
  padding: 0 20px 0 20px;

  background-color: #ffffff;

  @include form-title;

  @media (min-width: $tablet-width) {
    width: 514px;
    margin: 36px 0 76px -40px;
    padding: 0 39px 0 37px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 33px 0 76px -40px;
    padding: 0 38px 0 40px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;

  width: 280px;

  @include reset-list;
  gap: 16px;

  @media (min-width: $tablet-width) {
    width: 627px;

    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: nowrap;

    width: 1220px;

    gap: 78px;
  }
}

.contacts__field-group {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 570px;
  }

  &:hover svg {
    stroke: rgb(104, 183, 56);
  }

  &:active svg {
    opacity: 0.6;

    stroke: rgb(34, 34, 34);
  }
}

.contacts__item--email svg {
  position: absolute;
  top: 52%;
  right: 13px;

  width: 18px;
  height: 14px;

  transform: translateY(-50%);

  background-image: url("../img/email.svg");

  @media (min-width: $tablet-width) {
    top: 50%;
    right: 15px;
  }

  @media (min-width: $desktop-width) {
    right: 18px;
  }
}


.contacts__form-label {
  margin-right: 4px;

  @media (min-width: $tablet-width) {
    margin-top: -4px;
    margin-right: -6px;
  }
}

.contacts__field {
  flex-grow: 1;

  padding: 14px 20px 12px;
  padding-left: 10px;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  border: none;
  outline: 1px solid rgb(231, 231, 231);

  @media (min-width: $tablet-width) {
    width: 244px;
    padding: 11px 20px;

    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    outline: 1px solid rgb(205, 205, 205);
  }

  &:focus {
    outline: 2px solid rgb(68, 68, 68);
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts__item--email {
  gap: 10px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.contacts__item--phone {
  gap: 10px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;

    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    gap: 22px;
  }
}

.contacts__item--phone svg {
  position: absolute;
  top: 49%;
  right: 14px;

  width: 16px;
  height: 16px;

  transform: translateY(-50%);

  background-image: url("../img/phone.svg");

  @media (min-width: $tablet-width) {
    right: 15px;
  }

  @media (min-width: $desktop-width) {
    right: 17px;
  }
}

.contacts__email,
.contacts__phone {
  flex-shrink: 0;

  max-width: 94px;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 117px;

    font-size: 20px;
    line-height: 30px;
  }
}
