.form {
  position: relative;

  box-sizing: border-box;

  line-height: 18px;

  text-transform: uppercase;

  color: #444444;

  &::before {
    content: "";

    position: absolute;
    top: 187px;

    width: 100%;
    height: 1px;

    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;

  border: 0;
}

.form__fieldset--contacts {
  position: relative;

  width: 100%;

  &::after {
    content: "";

    position: absolute;
    z-index: -1;
    top: 41px;

    width: 100%;
    height: 2px;

    background-color: #68b738;

    @media (min-width: $tablet-width) {
      top: 57px;
    }

    @media (min-width: $desktop-width) {
      top: 55px;
    }
  }
}

.form__fieldset--contacts br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__wrapper {
  box-sizing: border-box;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 0 71px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__list {
  @include reset-list;
}

.form__wrapper > .form__filter-list {
  margin-bottom: 70px;

  @media (min-width: $tablet-width) {
    padding: 25px 310px 25px 28px;

    border: 1px solid #e7e7e7;
  }
}

.form__main-wrapper .form__field-group:not(:last-child) {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.form__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 13px;
}

.form__main-wrapper {
  display: flex;
  flex-direction: column;

  max-width: 1220px;
  margin: 0 auto;
  margin-top: -1px;
  padding: 0 20px 25px;

  gap: 54px;

  @media (min-width: $tablet-width) {
    padding: 0 70px 31px 71px;

    gap: 72px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;

    padding: 0 0 37px;

    gap: 80px;
  }
}

.form__container .form__fieldset--data {
  width: 100%;
}

.form__fieldset--data {
  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.form__fieldset .form__main-wrapper {
  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.form__fieldset--diet {
  @media (min-width: $tablet-width) {
    padding: 29px 28px;

    border: 1px solid rgb(231, 231, 231);
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding: 30px 28px;

    border: 1px solid rgb(231, 231, 231);
  }
}

.form__fieldset--diet .form__filter-list {
  margin-left: 45px;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
  }
}


.form__button {
  width: 280px;
  margin-bottom: 18px;
  padding: 10px 44px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;

  text-align: center;

  border: none;

  @include button;

  @media (min-width: $tablet-width) {
    width: 282px;
    margin: 0;
    padding: 16px 45px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus {
    opacity: 0.7;
  }
}

.form__legend {
  margin-left: 64px;

  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;

  text-transform: none;

  color: #000000;

  @media (min-width: $tablet-width) {
    margin-top: 4px;
    margin-left: -6px;

    font-size: 16px;

    transform: translateY(-4px);
    text-align: left;
  }
}

.form__filter-list {
  @include reset-list;
}

.form__field {
  flex-grow: 1;

  padding: 15px 20px 10px;
  padding-left: 15px;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  color: rgb(229, 229, 229);
  border: none;
  outline: 1px solid rgb(231, 231, 231);

  @media (min-width: $tablet-width) {
    padding: 11px 20px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;

    padding: 11px 20px;

    font-family: inherit;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    outline: 1px solid rgb(205, 205, 205);
  }

  &:focus {
    outline: 2px solid rgb(68, 68, 68);
  }
}

.form__label {
  flex-shrink: 0;

  max-width: 94px;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 117px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 117px;
    margin: 0;
  }
}

.form__field-group {
  display: flex;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 13px;
  }
}

.form__filter-item {
  position: relative;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}

.form__fieldset--addition {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    z-index: -1;
    top: 38px;

    width: 100%;
    height: 2px;

    background-color: #68b738;

    @media (min-width: $tablet-width) {
      top: 111px;
    }

    @media (min-width: $desktop-width) {
      top: 118px;
    }
  }
}

.form__button-wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 15px 20px 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;

    padding: 59px 66px 72px 71px;

    gap: 64px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;

    padding: 66px 0 82px;

    gap: 84px;
  }
}

.form__fieldset--diet .form__filter-item:not(:last-child) {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.form__comment {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    z-index: -1;
    top: 39px;

    width: 100%;
    height: 2px;

    background-color: rgb(104, 183, 56);

    @media (min-width: $tablet-width) {
      top: 86px;

      margin-bottom: -25px;
    }

    @media (min-width: $desktop-width) {
      top: 92px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: -25px;
  }
}

.form__comment .form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__comment-title {
  width: max-content;
  margin: 23px 0 38px -20px;
  padding: 0 22px 0 20px;

  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;

  text-transform: none;

  color: #000000;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    margin: 64px 0 87px -41px;
    padding: 0 43px 0 40px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    margin-bottom: 78px;
    margin-left: -40px;
    padding: 0 43px 0 39px;
  }
}

.form__textarea {
  height: 126px;
  min-height: 24px;
  padding: 13px 12px 9px 15px;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;

  resize: none;
  text-transform: uppercase;

  border: none;
  outline: 1px solid rgb(231, 231, 231);

  @media (min-width: $tablet-width) {
    min-height: 150px;
    padding: 12px 19px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1180px;
    height: 157px;
    padding-top: 9px;
    padding-bottom: 7px;
  }

  &:hover {
    outline: 1px solid rgb(205, 205, 205);
  }

  &:focus {
    outline: 2px solid rgb(68, 68, 68);
  }
}

.form__fieldset--contacts input {
  padding-right: 42px;
  padding-left: 14px;

  @media (min-width: $tablet-width) {
    padding-left: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 21px;
  }
}
