.main-footer__wrapper {
  display: flex;

  box-sizing: border-box;
  padding: 40px 20px;

  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 66px 110px;
  }
}
