.main-nav {
  position: relative;

  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    z-index: 1;

    width: 475px;
  }
}

.main-nav__wrapper {
  margin-top: -5px;

  @media (min-width: $tablet-width) {
    width: 436px;
    margin-top: 14px;

    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;

    width: 475px;
  }
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  z-index: 1;

  width: 100%;
  min-height: 80px;

  background-color: #ffffff;
}

.main-nav__toggle {
  position: absolute;
  z-index: 2;
  top: -51px;
  right: 21px;

  display: block;

  width: 24px;
  height: 24px;
  padding: 0;

  cursor: pointer;

  border: none;
  background-color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    top: 4px;
    right: 0;

    width: 24px;
    height: 2px;

    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__wrapper {
    display: none;

    &--active {
      display: block;
    }
  }
}

.main-nav--opened .main-nav__toggle {
  top: -49px;
  right: 17px;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 10px;
    right: 0;

    width: 24px;
    height: 2px;

    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);

    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__wrapper {
  position: static;

  display: block;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
