.main-nav {
  position: relative;

  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 436px;
    margin-left: auto;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 475px;
  }
}

.main-nav__wrapper {
  margin-top: 14px;

  background-color: #ffffff;
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;

  width: 100%;
  min-height: 80px;
}

.main-nav__toggle {
  position: absolute;
  z-index: 2;
  top: -50px;
  right: 0;

  display: block;

  width: 24px;
  height: 24px;

  cursor: pointer;

  border: none;
  background-color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    top: 4px;

    width: 24px;
    height: 2px;

    background-color: #000000;
    box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
  }

  &--hover,
  &--active {
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__wrapper {
    display: none;

    &--active {
      display: block;
    }
  }
}

.main-nav--opened .main-nav__toggle {
  top: -25px;
  right: 0;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 10px;
    right: 0;

    width: 24px;
    height: 2px;

    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);

    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }


  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}

.main-nav--nojs .main-nav__wrapper {
  position: static;

  display: block;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
