.main-header {
  display: flex;
  justify-content: space-between;

  width: 279px;
  margin: 0 auto;

  font-size: 20px;
  line-height: 20px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.main-header__logo {
  min-height: 38px;

  @media (min-width: $tablet-width) {
    min-height: 50px;
  }

  @media (min-width: $desktop-width) {
    min-height: 59px;
  }
}
