.main-footer {
  width: 100%;

  background-color: #f2f2f2;
}

.main-footer__logo {
  display: block;

  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-top: 6px;
    margin-right: auto;
    margin-left: 0;
  }
}

.main-footer__logo-image {
  display: block;

  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-right: auto;
    margin-left: 0;
  }
}

.main-footer__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 38px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 55px 30px;
    padding-right: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 66px 110px;
  }
}

.main-footer__copyright {
  display: flex;

  width: 100%;

  @media (min-width: $tablet-width) {
    width: 168px;
    margin-left: auto;
  }
}
