.map {
  width: 100%;
  margin: 0 auto;
}

.map iframe {
  display: block;

  width: 100%;
  height: 362px;

  border: none;
}

.map__adress {
  display: none;
}

.map__wrapper {
  display: flex;
  justify-content: space-between;

  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    margin: 60px 78px 60px 60px;
  }
}

.map__description {
  width: 140px;

  line-height: 20px;

  text-transform: uppercase;

  color: #111111;

  @media (min-width: $tablet-width) {
    width: 163px;

    font-size: 20px;
  }
}

.map__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;

  color: #444444;
}
