.more-product {
  @media (min-width: $tablet-width) {
    display: block;

    height: 430px;
    padding-top: 50px;

    border: 2px solid rgb(242, 242, 242);
  }
}

.more-product__title {
  margin: 0;
  margin-right: auto;
  margin-left: auto;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  text-transform: uppercase;

  color: #111111;

  @media (min-width: $tablet-width) {
    width: 134px;
    margin: 0 auto;
    margin-top: -4px;

    font-size: 20px;
    line-height: 24px;

    text-align: center;
  }
}

.more-product__description {
  margin-top: 8px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;

  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;

  text-align: center;

  color: #444444;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-top: 23px;
    margin-bottom: 80px;

    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 25px;
    margin-bottom: 89px;
  }
}

.more-product__link {
  width: 280px;
  margin: 0 auto;
  padding: 8px;
  padding-right: 0;
  padding-left: 0;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #444444;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:focus {
    opacity: 0.7;
  }

  @media (min-width: $tablet-width) {
    display: block;

    box-sizing: border-box;
    width: 250px;
    padding: 10px 80px;

    text-align: center;

    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    padding: 10px 39px;
  }
}
