.program-selection__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.program-selection__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  text-transform: uppercase;
}
