.program-selection {
  padding: 27px 20px 26px 20px;

  @media (min-width: $tablet-width) {
    width: 628px;
    padding: 0 70px 60px 70px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px 79px 110px;
  }
}

.program-selection__title {
  margin: 0;
  margin-bottom: 37px;

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.program-selection__description {
  margin: 0;
  margin-bottom: 39px;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}
