.site-list {
  display: block;
  justify-content: space-between;

  width: 100%;

  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 436px;
    margin-right: 0;
    margin-left: -14px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;

    width: 475px;
    margin-top: 16px;
    margin-left: 0;
  }
}

.site-list__link {
  text-align: center;
  text-decoration: none;

  color: #000000;

  &:hover {
    opacity: 0.6;
  }
}

.site-list__item--active {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid #68b738;
  }
}

.site-list a {
  display: block;

  padding: 22px 75px;
  padding-bottom: 24px;

  font-size: 20px;
  line-height: 20px;

  text-decoration: none;
  text-transform: uppercase;

  color: #000000;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 6px;

    font-size: 18px;
    line-height: 24px;

    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;

    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__item .site-list__link-index {
  text-align: center;
  text-decoration: none;

  color: #000000;

  &:hover {
    opacity: 0.6;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.site-list__item .site-list__link-index--noindex {
  @media (min-width: $desktop-width) {
    color: #000000;
  }
}

.site-list__item--active-index {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid #68b738;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;

    border-bottom: 2px solid #ffffff;
  }
}
