.social {
  display: flex;
  justify-content: center;

  margin-top: 18px;
  margin-bottom: 13px;
  padding: 20px;

  list-style: none;

  text-align: center;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  gap: 24px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-left: 150px;
    padding: 0;
    padding-top: 7px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: 235px;

    border: none;
  }
}

.social__link {
  &:hover svg {
    fill: #68b738;
  }

  &:focus {
    opacity: 0.3;
  }
}

.social__link svg {
  fill: #666666;
}
