.additionally__title {
  margin: 0;
  margin-bottom: 36px;

  font-size: 24px;
  line-height: 26px;

  @include form-title;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;

    font-size: 36px;
    line-height: 36px;
  }
}

.additionally__filter-list {
  margin-bottom: 34px;

  font-size: 16px;
  line-height: 18px;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;

    margin-bottom: 52px;

    font-size: 20px;
    line-height: normal;

    grid-template-columns: repeat(2, 221px);
    gap: 32px 123px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;

    margin-bottom: 60px;
  }
}
